@mixin links($actionColor, $actionColorActive) {
  a:any-link:not(button):not(.button) {
    color: $actionColor;
    &,
    svg {
      transition: var(--ss-transition-action);
    }
  }

  a:hover:not(button):not(.button) {
    color: $actionColorActive;
  }
}
