:root {
  --ss-border-separator: calc(var(--ss-size-1) / 2) solid var(--ss-color-soil);

  --ss-border-radius-1: var(--ss-size-1);
  --ss-border-radius-2: var(--ss-size-3);
  --ss-border-radius-3: var(--ss-size-5);
  --ss-border-radius-4: var(--ss-size-10);
  --ss-border-radius-5: var(--ss-size-15);
}
