:root {
  --ss-color-soil: #0a0f0c;
  --ss-color-leaf: #205b3f;
  --ss-color-leaf-alt: #c7d4ce;
  --ss-color-oil: #dfd57e;
  --ss-color-oil-alt: #f1edcd;
  --ss-color-stone: #ededed;
  --ss-color-stone-alt: #ffffff;
}
