:root {
  --ss-color-soil: #0a0f0c;
  --ss-color-leaf: #205b3f;
  --ss-color-leaf-active: color-mix(
    in srgb,
    var(--ss-color-leaf) 75%,
    var(--ss-color-soil)
  );
  --ss-color-leaf-alt: #c7d4ce;
  --ss-color-oil: #dfd57e;
  --ss-color-oil-active: color-mix(
    in srgb,
    var(--ss-color-oil) 25%,
    var(--ss-color-stone-alt)
  );
  --ss-color-oil-alt: #f1edcd;
  --ss-color-stone: #ededed;
  --ss-color-stone-active: color-mix(
    in srgb,
    var(--ss-color-stone) 100%,
    var(--ss-color-soil)
  );
  --ss-color-stone-alt: #ffffff;
}
