:root {
  --ss-font-primary: "Manrope", sans-serif;
  --ss-font-primary-weight-regular: 100;
  --ss-font-primary-weight-bold: 700;

  --ss-font-secondary: "Manrope", sans-serif;
  --ss-font-secondary-weight-light: 100;
  --ss-font-secondary-weight-regular: 300;
  --ss-font-secondary-weight-bold: 700;

  --ss-font-size-headline: clamp(34px, calc(20px + 2.5vw), 56px);
  --ss-font-size-heading-1: clamp(30px, calc(19px + 2vw), 48px);
  --ss-font-size-heading-2: clamp(28px, calc(21px + 1.5vw), 40px);
  --ss-font-size-heading-3: clamp(26px, calc(21px + 0.8vw), 32px);
  --ss-font-size-heading-4: var(--ss-font-size-heading-3);
  --ss-font-size-heading-5: var(--ss-font-size-heading-3);
  --ss-font-size-heading-6: var(--ss-font-size-heading-3);
  --ss-font-size-intro: clamp(20px, calc(18px + 0.5vw), 24px);
  --ss-font-size-base: clamp(16px, calc(14px + 0.4vw), 20px);
  --ss-font-size-small: 80%;
}
