:root {
  --ss-size-1: 4px;
  --ss-size-2: 8px;
  --ss-size-3: 12px;
  --ss-size-4: 18px;
  --ss-size-5: 24px;
  --ss-size-6: 36px;
  --ss-size-7: 48px;
  --ss-size-8: 60px;
  --ss-size-9: 72px;
  --ss-size-10: 84px;
  --ss-size-11: 96px;
  --ss-size-12: 108px;
  --ss-size-13: 120px;
  --ss-size-14: 132px;
  --ss-size-15: 144px;
}
