---
import IntroSection from "@components/sections/IntroSection.astro";
import Picture from "@components/ui/picture/Picture.astro";
import Pod from "@components/ui/pod/Pod.astro";
import Pods from "@components/ui/pods/Pods.astro";
import Heading from "@components/ui/typography/heading/Heading.astro";
import { HeadingSize } from "@components/ui/typography/heading/Heading.models";
import Intro from "@components/ui/typography/intro/Intro.astro";
import image2 from "@images/courses/business/team-brainstorming.jpeg";
import image1 from "@images/courses/jct/pricture-of-a-contract.jpeg";
import image3 from "@images/courses/revit/residential-building-blueprint-drawings.jpeg";
---

<section>
  <IntroSection>
    <Heading size={HeadingSize.H1}>Our Courses</Heading>
    <Intro>
      Skala Studio's Learning Hub: Expert Courses in JCT, Business, and Revit.
    </Intro>
  </IntroSection>

  <div>
    <Pods>
      <Pod label="JCT Course" url="/courses/jct">
        <Fragment slot="sub-content">
          <p>
            Increasingly, we observe that contractors are losing money when it
            could have been easily avoided. Find out how to escape common
            mistakes through a clear understanding of the contract.
          </p>
        </Fragment>
        <Picture
          mainImage={image1}
          alt="Skala Studio offers Courses on JCT Contracts for Contractors. This image shows a first page of a construction contract."
        />
      </Pod>
      <Pod label="Business Course" url="/courses/business">
        <Fragment slot="sub-content">
          <p>
            Gain insights into starting your own architecture business with
            hard-earned tips on managing challenging clients, streamlining
            projects efficiently, and overseeing construction effectively in our
            expert-led course.
          </p>
        </Fragment>
        <Picture
          mainImage={image2}
          alt="A team engaged in brainstorming around a table, focusing on a sheet of paper with a detailed sketched diagram outlining the process of kickstarting a business."
        />
      </Pod>
      <Pod label="Revit - Coming Soon!" url="/courses/revit">
        <Fragment slot="sub-content">
          <p>
            Buy our state-of-the-art Revit Template for small to medium
            architectural projects. Developed for months, it includes
            custom-built 3D elements for schedules doors, windows, electrical
            fixtures etc. This course also provides a 2-hour online workshop on
            using the template, saving you countless hours and greatly enhancing
            your efficiency.
          </p>
        </Fragment>
        <Picture
          mainImage={image3}
          alt="Image showing architecture drawings, plans. They were all drawn using digital softwares"
        />
      </Pod>
    </Pods>
  </div>
</section>
