---

---

<div class="image-section">
  <div class="image-section__column">
    <slot name="image" />
  </div>
  <div class="image-section__column">
    <slot name="body" />
  </div>
</div>

<style lang="scss">
  @use "@styles/utils" as utils;

  .image-section {
    --image-section-border-radius: var(--ss-border-radius-2);

    display: flex;
    flex-direction: column;
    gap: var(--ss-flow-space-3);
    align-items: center;

    & + & {
      margin-top: var(--ss-flow-space-3);
    }

    @include utils.media(tablet-screen) {
      &:nth-child(odd) {
        flex-direction: row;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &:nth-child(odd),
      :global(:not(&)) + &:nth-child(odd) {
        --image-section-border-radius: var(--ss-border-radius-2)
          var(--ss-border-radius-2) var(--ss-border-radius-4)
          var(--ss-border-radius-2);
      }

      &:nth-child(even),
      :global(:not(&)) + &:nth-child(even) {
        --image-section-border-radius: var(--ss-border-radius-2)
          var(--ss-border-radius-2) var(--ss-border-radius-2)
          var(--ss-border-radius-4);
      }

      & + &:not(:last-child) {
        &:nth-child(odd) {
          --image-section-border-radius: var(--ss-border-radius-2)
            var(--ss-border-radius-4) var(--ss-border-radius-4)
            var(--ss-border-radius-2);
        }

        &:nth-child(even) {
          --image-section-border-radius: var(--ss-border-radius-4)
            var(--ss-border-radius-2) var(--ss-border-radius-2)
            var(--ss-border-radius-4);
        }
      }

      & + &:last-child {
        &:nth-child(odd) {
          --image-section-border-radius: var(--ss-border-radius-2)
            var(--ss-border-radius-4) var(--ss-border-radius-2)
            var(--ss-border-radius-2);
        }

        &:nth-child(even) {
          --image-section-border-radius: var(--ss-border-radius-4)
            var(--ss-border-radius-2) var(--ss-border-radius-2)
            var(--ss-border-radius-2);
        }
      }
    }
  }

  .image-section__column {
    :global(> img) {
      border-radius: var(--image-section-border-radius);
    }

    @include utils.media(tablet-screen) {
      flex: 1 1 50%;
    }
  }
</style>
