---

---

<div class="intro-section">
  <slot />
</div>

<style lang="scss">
  @use "@styles/utils" as utils;

  .intro-section {
    --intro-section-max-width: 100%;

    text-align: center;
    padding-bottom: var(--ss-flow-space-4);
    margin: 0 auto;
    max-width: var(--intro-section-max-width);

    @include utils.media(tablet-screen) {
      --intro-section-max-width: 80%;
    }

    @include utils.media(small-screen) {
      --intro-section-max-width: 70%;
    }
  }
</style>
