---

---

<div class="buttons">
  <slot />
</div>

<style lang="scss">
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ss-flow-space-1);

    :global(p) + &,
    :global(ul) + &,
    :global(ol) + &,
    :global(address) + & {
      margin-top: var(--ss-flow-space-2);
    }
  }
</style>
