---
import Heading from "@components/ui/typography/heading/Heading.astro";
import { HeadingSize } from "@components/ui/typography/heading/Heading.models";

interface Props {
  class?: string;
  size?: HeadingSize;
  as?: HeadingSize;
}

const {
  class: className,
  size = HeadingSize.H1,
  as = HeadingSize.Headline,
} = Astro.props;
---

<div class:list={["headline", className]}>
  <Heading size={size} as={as}>
    <slot />
  </Heading>
  <p class="headline__sub-heading">
    <slot name="sub-heading" />
  </p>
</div>

<style lang="scss">
  .headline {
    text-align: center;
  }

  .headline__sub-heading {
    position: relative;
    font-size: var(--ss-font-size-heading-3);
    font-weight: var(--ss-font-sans-serif-weight-light);

    &::before {
      content: "";
      display: block;
      background: var(--ss-color-soil);
      width: var(--ss-size-5);
      margin: var(--ss-size-4) auto;
      border-bottom: var(--ss-border-separator);
    }
  }
</style>
