---
import ContactCard from "@components/ContactCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Contact - Architectural & Interior Design Services in London"
  description="Get in touch with Skala Studio to discuss your Architectural & Interior Design requirements. We are based in London and work on projects across the UK."
>
  <section>
    <ContactCard />
  </section>
</BaseLayout>
