---
import Contact from "@components/Contact.astro";
import Logo from "@components/Logo.astro";
import Button from "@components/ui/button/Button.astro";
import Container from "@components/ui/container/Container.astro";
---

<Container>
  <header class="header">
    <Logo class="header__logo" />
    <div class="header__contact">
      <Contact class="header__contact-details" compact={true} />
      <Button class="header__contact-button" href="#contact">Contact us</Button>
    </div>
  </header>
</Container>

<style lang="scss">
  @use "@styles/utils" as utils;

  .header {
    --header-padding: var(--ss-flow-space-2);
    --header-logo-size: var(--ss-size-10);

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--ss-border-separator);

    padding: var(--header-padding) 0;

    @include utils.media(tablet-screen) {
      --header-logo-size: var(--ss-size-11);
    }

    @include utils.media(large-screen) {
      --header-padding: var(--ss-flow-space-1);
    }
  }

  .header__logo {
    width: var(--header-logo-size);
    height: auto;
  }

  .header__contact {
    text-align: right;
  }

  .header__contact-details {
    @include utils.media(tablet-screen-max) {
      display: none !important;
    }
  }

  .header__contact-button {
    @include utils.media(small-screen) {
      display: none !important;
    }
  }
</style>
