---

---

<address class="header-contact">
  <p>
    <span class="header-contact__label">Email:</span>
    <a class="header-contact__silent-link" href="mailto:info@skala-studio.co.uk"
      >info@skala-studio.co.uk</a
    >
  </p>
  <p>
    <span class="header-contact__label">Mobile:</span>
    <span>
      <a class="header-contact__silent-link" href="tel:00447415330360"
        >(0044) 7415 330 360</a
      ><br />
      <a class="header-contact__silent-link" href="tel:00447921045731"
        >(0044) 7921 045 731</a
      >
    </span>
  </p>
</address>

<style lang="scss">
  .header-contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: var(--ss-font-size-base);
    gap: var(--ss-size-1);

    p {
      margin: 0;
    }
  }

  .header-contact__label {
    font-weight: var(--ss-font-sans-serif-weight-bold);
    margin-right: var(--ss-size-1);
  }

  .header-contact__silent-link {
    color: var(--ss-color-soil);
    text-decoration: none;
    cursor: default;
  }
</style>
