---
import { companyInfoClient } from "@shared/company-info";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const { email, branches } = await companyInfoClient.getCompanyInfo();
---

<address class:list={["contact", className]}>
  <p>
    <span class="contact__label">Email:</span>
    {email}
  </p>

  {
    branches.map((branch) => (
      <p>
        <span class="contact__label">{branch.name} branch:</span>
        <span>{branch.branchManager.phone}</span>
      </p>
    ))
  }
</address>

<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
    font-size: var(--ss-font-size-base);
    gap: var(--ss-size-1);
  }

  .contact__label {
    display: block;
    font-weight: var(--ss-font-secondary-weight-bold);
    margin-right: var(--ss-size-1);
  }
</style>
