---
import Contact from "@components/Contact.astro";
import Heading from "@components/ui/typography/heading/Heading.astro";
import { HeadingSize } from "@components/ui/typography/heading/Heading.models";
import Intro from "@components/ui/typography/intro/Intro.astro";

interface Props {
  id?: string;
  class?: string;
}

const { class: className, id } = Astro.props;
---

<div id={id} class:list={["contact-card", className]}>
  <Heading size={HeadingSize.H2}>What are the next steps?</Heading>
  <Intro>
    Discover the transformative design experience at Skala Studio. From full
    architectural services to tailored solutions and interior design, we bring
    your vision to life.
  </Intro>
  <p>Contact us now to start creating inspiring spaces together.</p>

  <Contact />
</div>

<style>
  .contact-card {
    background: var(--ss-color-stone);
    padding: var(--ss-flow-space-3);
    border-radius: var(--ss-border-radius-3);
  }
</style>
