---
interface Props {
  compact?: boolean;
  class?: string;
}

const { class: className, compact = false } = Astro.props;
---

<address class:list={["contact", { "contact--compact": compact }, className]}>
  <p>
    <span class="contact__label">Email:</span>
     info@skala-studio.co.uk
  </p>
  <p>
    <span class="contact__label">Mobile:</span>
    <span>
      07415 330 360<br />
       07921 045 731
    </span>
  </p>
  <p class="contact__address">
    <span class="contact__label">Address:</span>
    <span>
      18 Perry Ave
      <br /> East Grinstead <br />
       RH19 2DJ
    </span>
  </p>
</address>

<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
    font-size: var(--ss-font-size-base);
    gap: var(--ss-size-1);
  }

  .contact--compact {
    p {
      margin: 0;
    }

    .contact__address {
      display: none;
    }

    .contact__label {
      display: inline;
    }
  }

  .contact__label {
    display: block;
    font-weight: var(--ss-font-sans-serif-weight-bold);
    margin-right: var(--ss-size-1);
  }
</style>
