---
import Heading from "@components/ui/typography/heading/Heading.astro";
import { HeadingSize } from "@components/ui/typography/heading/Heading.models";
---

<div class="headline">
  <Heading size={HeadingSize.Headline}>
    <u>Award Winning</u><br /> Architecture <u>&amp;</u>
    <span>&nbsp;Interior Design</span>
  </Heading>
  <p class="headline__sub-heading">We design to express your character</p>
</div>

<style lang="scss">
  .headline {
    text-align: center;
    padding: var(--ss-flow-space-3) 0;
  }

  .headline__sub-heading {
    position: relative;
    font-size: var(--ss-font-size-heading-3);
    font-weight: var(--ss-font-sans-serif-weight-light);

    &::before {
      content: "";
      display: block;
      background: var(--ss-color-soil);
      width: var(--ss-size-5);
      margin: var(--ss-size-4) auto;
      border-bottom: var(--ss-border-separator);
    }
  }
</style>
