---
import Picture from "@components/ui/picture/Picture.astro";
import image2 from "@images/home/hero/wooden-cladding-person.jpg";
import image1 from "@images/home/hero/wooden-cladding.jpg";
---

<div class="presentation">
  <Picture
    class="presentation__image"
    alt="A cosy outdoor garden space with a wooden planter full of colorful flowers, a cushioned bench, and a backdrop of lush green hedges beside a dark wood-clad building."
    mainImage={image1}
    cover={true}
  />
  <Picture
    class="presentation__image"
    alt="A woman sits outdoors, sipping tea from a patterned cup, wearing a dark green top and a bright orange skirt, beside a wooden-clad building with a lush garden and reflective window in the background."
    mainImage={image2}
    cover={true}
  />
</div>

<style lang="scss">
  @use "@styles/utils" as utils;

  .presentation {
    display: flex;
    gap: var(--ss-size-3);

    @include utils.media(mobile-screen-max) {
      flex-direction: column;
    }
  }

  .presentation__image {
    flex: 1 0 calc(50% - (var(--ss-size-3) / 2));
    overflow: hidden;
    background: var(--ss-color-soil);
    aspect-ratio: 1 / 1;
  }
</style>
