---
import image from "@images/home/Suburban-Home-Residential-Basingstoke-02.jpg";
import { Image } from "astro:assets";
---

<div class="presentation">
  <Image
    src={image}
    alt="Designed by Skala Studio, this image captures a wooden kitchen with a green marble island, complete with a courtyard-style garden boasting green plants, trees, and a yellow brick wall. The patio pocket doors are fully open, effortlessly blurring the boundaries between indoor and outdoor spaces. Natural materials abound in the kitchen's cabinetry, while the play of sunlight beautifully illuminates both the patio and the interior."
  />
</div>

<style>
  .presentation {
    border-radius: var(--ss-border-radius-3);
    overflow: hidden;
  }
</style>
