---
import { Image } from "astro:assets";
import IntroSection from "@components/typography/IntroSection.astro";
import ImageSections from "@components/typography/ImageSections.astro";
import ImageSection from "@components/typography/ImageSection.astro";
import modernCountryHouse from "@images/visualisations/modern-country-house-min.jpg";
import cosyCafeTableView from "@images/visualisations/cosy-cafe-interior-table-view-min.jpg";
import cosyCafeInterior from "@images/visualisations/cosy-cafe-interior-min.jpg";
import ContactCard from "@components/ContactCard.astro";
import Buttons from "@components/ui/button/Buttons.astro";
import Button from "@components/ui/button/Button.astro";
---

<div class="services">
  <IntroSection>
    <h2 class="ss-text-h1">Our services</h2>
    <p class="ss-text-intro">
      Skala Studio offers comprehensive architectural services, tailored
      solutions, and exceptional interior design to elevate your project.
    </p>
  </IntroSection>

  <ImageSections>
    <ImageSection>
      <Image src={modernCountryHouse} alt="Modern country house" slot="image" />
      <div slot="body">
        <h3>Full Architectural Services</h3>
        <p>
          We provide comprehensive assistance throughout the entire journey of
          your project, from conception to completion.
        </p>
        <p>
          This includes obtaining all necessary permissions and administering
          the construction contract.
        </p>
        <Buttons>
          <Button href="#contact">Begin your journey</Button>
        </Buttons>
      </div>
    </ImageSection>
    <ImageSection>
      <Image src={modernCountryHouse} alt="Modern country house" slot="image" />
      <div slot="body">
        <h3>Partial Architectural Services</h3>
        <p>
          Our architectural services can be tailored to meet your specific
          needs, whether you require limited assistance, such as obtaining
          planning permission or help with administering your construction
          contract.
        </p>
        <Buttons>
          <Button href="#contact">Choose your scope</Button>
        </Buttons>
      </div>
    </ImageSection>
    <ImageSection>
      <Image
        src={cosyCafeInterior}
        alt="Cosy cafe interior design"
        slot="image"
      />
      <div slot="body">
        <h3>Interior Design</h3>
        <p>
          Our interior design services address your specific needs, blending
          functionality and aesthetics to create unique and healthy spaces that
          reflect your style and vision.
        </p>
        <Buttons>
          <Button href="#contact">Create unique spaces</Button>
        </Buttons>
      </div>
    </ImageSection>
    <ImageSection>
      <Image src={cosyCafeTableView} alt="Couse cafe table view" slot="image" />
      <div slot="body">
        <h3>Consulting</h3>
        <p>
          We offer personalised consultations regarding your project’ specific
          needs. Contact us to discuss the details of your project.
        </p>
        <Buttons>
          <Button href="#contact">Consult for your project</Button>
        </Buttons>
      </div>
    </ImageSection>
  </ImageSections>

  <ContactCard id="contact" class="services__contact" />
</div>

<style>
  .services {
    padding-bottom: var(--ss-flow-space-4);
  }

  .services__contact {
    margin-top: var(--ss-flow-space-4);
  }
</style>
