@use "../utils" as utils;

.ss-text-headline {
  font-size: var(--ss-font-size-headline);
}

.ss-text-h1 {
  font-size: var(--ss-font-size-heading-1);
}

.ss-text-h2 {
  font-size: var(--ss-font-size-heading-2);
}

.ss-text-h3 {
  font-size: var(--ss-font-size-heading-3);
}

.ss-text-h4 {
  font-size: var(--ss-font-size-heading-4);
}

.ss-text-h5 {
  font-size: var(--ss-font-size-heading-5);
}

.ss-text-h6 {
  font-size: var(--ss-font-size-heading-6);
}

.ss-text-intro {
  font-size: var(--ss-font-size-intro);
  font-weight: var(--ss-font-sans-serif-weight-regular);

  @include utils.media(tablet-screen) {
    font-weight: var(--ss-font-sans-serif-weight-light);
  }
}

.ss-text-base {
  font-size: var(--ss-font-size-base);
}

.ss-text-small {
  font-size: var(--ss-font-size-small);
}

.ss-text-sub-heading {
  display: block;
  font-size: 80%;
  font-family: var(--ss-font-sans-serif);
  font-weight: var(--ss-font-sans-serif-weight-light);
  margin-top: var(--ss-size-1);
}
