---

---

<p class="intro">
  <slot />
</p>

<style lang="scss">
  @use "@styles/utils" as utils;

  .intro {
    font-size: var(--ss-font-size-intro);
    font-weight: var(--ss-font-secondary-weight-light);
  }
</style>
