---
import Header from "@components/header/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Serif+Display:200,700&family=Manrope:200,300,800&display=swap"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  .container {
    max-width: 1420px;
    margin: 0 auto;
  }
</style>
