---
import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";
import Container from "@components/ui/container/Container.astro";
import "@styles/global.scss";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#0a0f0c" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="body">
    <Header />
    <main>
      <Container>
        <slot />
      </Container>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .body {
    padding-top: calc(var(--ss-flow-space-2) * 2 + var(--ss-size-10));
  }
</style>
